@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-neutral-dark antialiased bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-primary-navy font-bold;
  }
}
